<h1><%= pluralize(@user.size, "User") %></h1>
<ul class="users">
  <% @user.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      created
      <%= time_ago_in_words(user.created_at) %> ago
    </li>
  <% end %>
</ul>